body{
	background: #263238;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, San-Serif,
	moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #ffffff;
	margin-top: 60px; 
}

.character-card {
  border: 2px solid #4FC08D;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-top: 15px;
}

.link, .link:hover, .link:visited,.link:active {
	color: #4FC08D;
	text-decoration: none;
}

/* .item-card {
	border: 2px solid #4FC08D;
	cursor: pointer;
	padding: 5px;
	border-radius: 4px;
	padding-bottom: 10px;
} */