body{
	background: #263238;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, San-Serif,
	--webkit--font-smooting: antialiased;
	--moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #ffffff;
	margin-top: 60px; 
}

.character-card {
  border: 2px solid #4FC08D;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-top: 15px;
}